# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/
build/
.next/
out/
.cache/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.log.*

# Editor folders
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Dependency directories
bower_components/

# Testing
coverage/
*.lcov

# Misc
*.tgz
*.gz
*.zip
*.tmp
*.bak

# Firebase
.firebase/
.firebaserc

# UploadThing
uploadthing.json

# Local database
*.sqlite
*.sqlite3
